# folder
.venv/*
/data/__temp__/*
msconsconverter/__pycache__/*
build/*
dist/*
msconsconverter.egg-info/*

# file 
README.html
cmdInitiateEnv.bat

# extentions
*.pyc
*.csv
/data/__temp__/*
*.log

# PyCharm
.idea
