# folder
.venv/*
data/__temp__/*
tests/data/__temp__/*
tests/data/output/*
msconsconverter/__pycache__/*
msconsconverter.egg-info/*
build/*
dist/*
.tox/*

# file
README.html
cmdInitiateEnv.bat

# extentions
*.pyc
*.csv
/data/__temp__/*
*.log

# PyCharm
.idea
